.startColumn2 {
  grid-column-start: 2;
}

.startColumn3 {
  grid-column-start: 3;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animateSlideIn {
  animation: slideIn 0.3s forwards;
}

.animateSlideOut {
  animation: slideOut 0.3s forwards;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide div {
  width: 100%;
}
